.card {
    padding: 1em;
    border: 1px solid #7A7A7A;
    border-radius: 0.5em;
    width: 24%;
    margin: 0.5%;
}

.card h4 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
    border-radius: 0.3em;
}

.card p {
    color: #7A7A7A;
    margin-bottom: 1em;
}

.card p span {
    font-weight: bold;
}

.card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.card_actions a,
.card_actions button {
    text-decoration: none;
    border: none;
    color:#222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 0.3em;
    font-weight: 600;
}

.card_actions svg {
    margin-right: .5em;
}

.card_actions a:hover,
.card_actions button:hover {
    background-color: #CACACA;
    
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CCC;
    margin-right: 5px;
}

.category_text .infrastructure {
    background-color: #FFAEBC;
}

.category_text .development {
    background-color: #A0E7E5;
}

.category_text .design {
    background-color: #B4F8C8;
}

.category_text .planning {
    background-color: #FBE7C6;
}

