* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*evitar que inputs ultrapassem o limite da div*/
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #efefef;
  height: 100%;
}