.footer {
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.list li {
    margin: 0 1em;
}

.list li:hover {
    color: #FFBB33;
}

.list svg {
    font-size: 1em;
    cursor: pointer
}

.copyright {
    margin-top: 2em;
}

.copyright span {
    font-weight: bold;
    color: #FFBB33;
}