.form_control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_control button {
    background-color: #222;
    color: #FFF;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    font-weight: bold;
}

.form_control button:hover {
    color: #FFBB33
}